
.nav-logo{
    width: 280px;
    height: auto;
}

.nav-btn-lang{
    background-color: #003866;
    color:white;
}

.nav-spacing{
    display: flex;
    justify-content: right;
}

.nav-btn-connexion{
    margin-left : 20px;
    margin-right: 25px;
}

