
.btn-reserver{
    background-color: #003866;
    color:white;
}

.btn-acheter{
    background-color: #003866;
    color:white;

} 

.container-title-left{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.container-title-right{ 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    color: #003866;
    font-weight: bold;
}

.container-detail-right-infos-wrap-left{
    color: #003866;
    font-weight: bold;
}

.container-detail-left{
    width: 600px;
}

.container-detail-right{
    width: 400px;
}

.wrapper-detail{
    width: 75%;
}

@media screen and (max-width: 600px) {
    .wrapper-detail{
        width: 100%;
    }
}




